/* font */

@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Ubuntu+Mono';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100,300';

/* global */

body {
	background-color: #333333;
	font-family: 'Roboto Mono', monospace;
	color: #ffffff !important;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

/* type */

h1 {
	font-size: 2em;
	font-weight: 100;
	color: black;
}

h1 span {
	background-color: yellow;
}

h2 {
	font-size: 2.6em;
	font-weight: 100;
}

@media (min-width: 544px) {
	h2 {
		font-size: 2.2em;
	}
}

@media (min-width: 768px) {
	h2 {
		font-size: 3em;
	}
}

@media (min-width: 992px) {
	h2 {
		font-size: 3.2em;
	}
}

h3 {
	font-size: 2.2em;
	font-weight: 100;
}

p {
	font-size: 1em;
}

.type-black {
	color: black;
}

.type-white {
	color: white;
}

/* colour */

.bg-brand {
	background-color: #00ffff;
}

.bg-grey {
	background-color: #333;
}

.bg-light-grey {
	background-color: #3d3d3d;
}

.bg-blue {
	background-color: blue;
}

.bg-red {
	background-color: red;
}

/* column height */

.col-height-xs {
	height: 5em;
}

.col-height-sm {
	height: 10em;
}

.col-height-md {
	height: 15em;
}

.col-height-lg {
	height: 20em;
}

.col-height-xl {
	height: 25em;
}

/* panel */

.panel h1,h2,h3,p {
	margin: 1.8rem 1.2rem;
}

@media (min-width: 544px) {
	.panel h1,h2,h3,p {
		margin: 1.8rem 1.8rem;
	}
}

.panel img {
	width: 100%;
	height: auto;
	opacity: 0.4;
	-webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.panel img:hover {
	opacity: 1.0;
}

.panel-offset {
	margin-top: 28px;
}

@media (min-width: 768px) {
	.panel-offset {
		margin-top: 57px;
	}
}

.dashed {
	border-top: 1px dashed #000000;
}

/* video */

video {
	max-width: 100%;
	max-height: 100%;
	opacity: 0.4;
	-webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

video:hover {
	opacity: 1.0;
}

/* deskyop only */

.desktop-only {
	display: none;
}
.desktop-hide {
	display: block;
}

@media (min-width: 1200px) {
	.desktop-only {
		display: block;
	}
}

@media (min-width: 1200px) {
	.desktop-hide {
		display: none;
	}
}
