/* font */

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

/* variables */

$font-stack: 'Roboto Mono', monospace;

$brand: cyan;
$white: #fff;
$black: #000;
$light-grey: #3d3d3d;
$dark-grey: #333;
$blue: blue;
$yellow: yellow;

$col-xs: 5rem;
$col-sm: 10rem;
$col-md: 15rem;
$col-lg: 20rem;
$col-xl: 25rem;

$margin-xs: 0.4rem;
$margin-sm: 0.8rem;
$margin-md: 1.2rem;
$margin-lg: 1.6rem;
$margin-xl: 2.0rem;

/* global */

body {
	background-color: $dark-grey;
 	font: 100% $font-stack;
 	color: $white;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

hr {
	border-top: 1px dashed #000000;
}

/* deskyop only */

.desktop-only {
	display: none;
	@media (min-width: 1200px) {
		display: block;
	}
}

.desktop-hide {
	display: block;
	@media (min-width: 1200px) {
		display: none;
	}
}

/* header */

header {
	background-color: $brand;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 12s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: header;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

.header {
	height: $col-lg;
	h1 {
		margin: $margin-lg $margin-md;
			@media (min-width: 544px) {
				margin: $margin-lg;
			}
		font-size: 2em;
		font-weight: 100;
		color: $black;
		span {
			background-color: $yellow;
		}
	}
	.icon-twitter {
		margin: 0 $margin-md;
			@media (min-width: 544px) {
				margin: 0 $margin-lg;
			}
		font-size: 2em;
		color: $black;
		&:hover {
			color: $white;
		}
	}
}

/* sub-header */

.sub-header {
	height: $col-lg;
	background-color: $dark-grey;
	h2 {
		margin: $margin-lg $margin-md;
			@media (min-width: 544px) {
				margin: $margin-lg $margin-lg;
			}
		font-size: 3.6em;
		word-wrap: break-word;
		@media (min-width: 544px) {
			font-size: 3.0em;
		}
		@media (min-width: 768px) {
			font-size: 4.0em;
		}
		@media (min-width: 992px) {
			font-size: 4.8em;
		}
	}
}

/* media */

.media-panel {
	img {
		width: 100%;
		height: auto;
		opacity: 0.4;
		-webkit-transition: opacity 1s; /* Safari */
	  	transition: opacity 1s;
		&:hover {
			opacity: 1.0;
		}
	}
	video {
		width: 100%;
		height: auto;
	 	opacity: 0.4;
	 	-webkit-transition: opacity 1s; /* Safari */
	   	transition: opacity 1s;
		&:hover {
			opacity: 1.0;
		}
	}
}

/* logo panel */

.logo {
	height: $col-lg;
	background-color: $blue;
	img {
		position: absolute;
    	top: -50px;
		max-width: 11rem;
		height: auto;
		margin: $margin-lg;
		opacity: 0.2;
		-webkit-transition: opacity 1s; /* Safari */
		transition: opacity 1s;
		&:hover {
			opacity: 0.5;
		}
	}
}


/* about */

.about {
	height: $col-lg;
	.about-main {
		height: $col-md;
		p {
			margin: $margin-lg $margin-md;
				@media (min-width: 544px) {
					margin: $margin-lg;
				}
			font-size: 1em;
			color: $black;
			text-decoration: underline;
		}
	}
	.about-offset {
		height: $col-xs;
		background-color: $light-grey;
		opacity: 0.6;
		margin-top: 28px;
		@media (min-width: 768px) {
			margin-top: 57px;
		}
	}
}

/* footer */

footer {
	p {
		margin: $margin-lg $margin-md;
			@media (min-width: 544px) {
				margin: $margin-lg;
			}
		font-size: 1em;
	}
}

/* animation */

/* Chrome, Safari, Opera */
@-webkit-keyframes header {
    0% {background-color: $brand;}
    50% {background-color: yellow;}
	100% {background-color: $brand;}
}

/* Standard syntax */
@keyframes header {
	0% {background-color: $brand;}
    50% {background-color: yellow;}
	100% {background-color: $brand;}
}
