/* font */
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100";
/* variables */
/* global */
body {
  background-color: #333;
  font: 100% "Roboto Mono", monospace;
  color: #fff; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

hr {
  border-top: 1px dashed #000000; }

/* deskyop only */
.desktop-only {
  display: none; }
  @media (min-width: 1200px) {
    .desktop-only {
      display: block; } }

.desktop-hide {
  display: block; }
  @media (min-width: 1200px) {
    .desktop-hide {
      display: none; } }

/* header */
header {
  background-color: cyan;
  -webkit-animation-name: example;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 12s;
  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  animation-name: header;
  animation-duration: 12s;
  animation-iteration-count: infinite; }

.header {
  height: 20rem; }
  .header h1 {
    margin: 1.6rem 1.2rem;
    font-size: 2em;
    font-weight: 100;
    color: #000; }
    @media (min-width: 544px) {
      .header h1 {
        margin: 1.6rem; } }
    .header h1 span {
      background-color: yellow; }
  .header .icon-twitter {
    margin: 0 1.2rem;
    font-size: 2em;
    color: #000; }
    @media (min-width: 544px) {
      .header .icon-twitter {
        margin: 0 1.6rem; } }
    .header .icon-twitter:hover {
      color: #fff; }

/* sub-header */
.sub-header {
  height: 20rem; }
  .sub-header h2 {
    margin: 1.6rem 1.2rem;
    font-size: 3.6em;
    word-wrap: break-word; }
    @media (min-width: 544px) {
      .sub-header h2 {
        margin: 1.6rem 1.6rem; } }
    @media (min-width: 544px) {
      .sub-header h2 {
        font-size: 3.0em; } }
    @media (min-width: 768px) {
      .sub-header h2 {
        font-size: 4.0em; } }
    @media (min-width: 992px) {
      .sub-header h2 {
        font-size: 4.8em; } }

/* media */
.media-panel img {
  width: 100%;
  height: auto;
  opacity: 0.4;
  -webkit-transition: opacity 1s;
  /* Safari */
  transition: opacity 1s; }
  .media-panel img:hover {
    opacity: 1.0; }
.media-panel video {
  width: 100%;
  height: auto;
  opacity: 0.4;
  -webkit-transition: opacity 1s;
  /* Safari */
  transition: opacity 1s; }
  .media-panel video:hover {
    opacity: 1.0; }

/* logo panel */
.logo {
  height: 20rem;
  background-color: blue; }
  .logo img {
    position: absolute;
    top: -50px;
    max-width: 11rem;
    height: auto;
    margin: 1.6rem;
    opacity: 0.2;
    -webkit-transition: opacity 1s;
    /* Safari */
    transition: opacity 1s; }
    .logo img:hover {
      opacity: 0.5; }

/* about */
.about {
  height: 20rem; }
  .about .about-main {
    height: 15rem; }
    .about .about-main p {
      margin: 1.6rem 1.2rem;
      font-size: 1em;
      color: #000;
      text-decoration: underline; }
      @media (min-width: 544px) {
        .about .about-main p {
          margin: 1.6rem; } }
      .about .about-main p a {
        color: inherit;
        text-decoration: inherit; }
  .about .about-offset {
    height: 5rem;
    background-color: #3d3d3d;
    opacity: 0.6;
    margin-top: 28px; }
    @media (min-width: 768px) {
      .about .about-offset {
        margin-top: 57px; } }

/* footer */
footer p {
  margin: 1.6rem 1.2rem;
  font-size: 1em; }
  @media (min-width: 544px) {
    footer p {
      margin: 1.6rem; } }

/* animation */
/* Chrome, Safari, Opera */
@-webkit-keyframes header {
  0% {
    background-color: cyan; }
  50% {
    background-color: yellow; }
  100% {
    background-color: cyan; } }
/* Standard syntax */
@keyframes header {
  0% {
    background-color: cyan; }
  50% {
    background-color: yellow; }
  100% {
    background-color: cyan; } }
/* button */
.button {
  background-color: cyan;
  margin: 1.6rem 1.2rem;
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: opacity 1s;
  /* Safari */
  transition: opacity 1s; }
  @media (min-width: 544px) {
    .button {
      margin: 1.6rem; } }
  .button:hover {
    opacity: 1.0; }

/*# sourceMappingURL=main.css.map */
