.module {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
}

.module__head {
  height: 72px;
  padding: var(--spacing-sm) var(--spacing-md) 0;
  h1 {
    margin: 0;
  }
}

.module__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

