.track-container {
    display: grid;
    grid-template-areas:
            "meta"
			"steps"
            "controls";
    grid-row-gap: 5px;
    width: 1180px;
}

.track__meta {
    grid-area: meta;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.track__steps {
    grid-area: steps;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.track__controls {
    grid-area: controls;
    display: flex;
    height: 212px;
    background-color: var(--color-bluegrey-700);
}

.track__controls > * {
    flex: 1;
}