.track {
    display: grid;
    grid-template-areas:
            "meta"
			"steps"
            "controllers";
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.track__meta {
    grid-area: meta;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 var(--spacing-12);
    /*background-color: var(--color-grey-700);*/
}

.track__steps {
    grid-area: steps;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 var(--spacing-12);
    background-color: var(--color-bluegrey-800);
}

.track__steps > *:not(:last-child) {
    margin-right: var(--spacing-12);
}

.track__controls {
    grid-area: controllers;
    display: flex;
    height: 222px;
    padding: var(--spacing-20) var(--spacing-20) var(--spacing-16);
    background-color: var(--color-bluegrey-700);
}

.track__controls > * {
    flex: 1;
}

.track__controls > *:not(:last-child) {
    margin-right: var(--spacing-20);
}