#master {
    display: grid;
    grid-template-rows: 40px auto;
    z-index: 99;
    position: sticky;
    top: 0;
    height: var(--header-height);
    border-top: 8px solid var(--color-grey-900);
}

#master > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-20);
}

#master .main {
    background-color: var(--color-secondary);
}

#master .sub {
    background-color: var(--color-grey-800);
}