.sequencer .step {
    display: grid;
    align-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 0;
    background: transparent;
    border-width: 0;
    cursor: pointer;
}

.sequencer .step .step-zone {
    width: 100%;
    fill: none;
}

.sequencer .step .step-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: center;
}

.sequencer .step[value = 'off'] .step-icon.off {
    display: block;
    fill: var(--color-bluegrey-900);
}

.sequencer .step[value = 'off'] .step-icon.on {
    display: none;
}

.sequencer .step[value = 'on'] .step-icon.off {
    display: none;
}

.sequencer .step[value = 'on'] .step-icon.on {
    display: block;
    fill: var(--color-secondary);
}

.sequencer .step[data-status = 'current'] .step-icon.off {
    /*background: var(--color-grey-900);*/
    fill: var(--color-grey-900);
}

.sequencer .step[data-status = 'current'] .step-icon.on {
    fill: blueviolet;
}