// Animation

@-webkit-keyframes background {
	0%, 100% { background-color: $primary; }
	50% { background-color: $lime-green; }
}

@-moz-keyframes background {
	0%, 100% { background-color: $primary; }
	50% { background-color: $lime-green; }
}

@-o-keyframes background {
	0%, 100% { background-color: $primary; }
	50% { background-color: $lime-green; }
}

@keyframes background {
	0%, 100% { background-color: $primary; }
	50% { background-color: $lime-green; }
}
