.logo {
	padding: p(xl) 0;
	margin: 0 auto;

	svg {
		display: inline-block;

		path {
			fill: $black;
			@include transition(fill, $speed, ease);

			&:hover {
				fill: $white;
			}
		}
	}

	header & {
		width: 120px;
		@include breakpoint(md) {
			width: 150px;
		}
	}

	footer & {
		width: 50px;
		@include breakpoint(md) {
			width: 80px;
		}
	}
}
