// Media
.media {
    @extend %px-base;
    margin: 0;

    &__content {
        display: block;
        width: 100%;
        opacity: 1;
        @include transition(opacity, $speed, ease);

        &:hover {
            opacity: 0.9;
        }
    }

    &__meta {
        font-size: $base-font-size * 1.6;
        line-height: $base-line-height * 2;
        margin-bottom: m(sm);
        border-bottom: 1px solid palette(grey, x-light);
    }
}
