:root {
	--slider-track-height: 2px;
	--slider-thumb-diameter: 16px;
}

.slider-with-values {
	display: flex;
	flex-direction: column;
	.meta {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
	}
	.title {
		font-style: italic;
	}
}