.tb-slider {
    --chrome-system-thumb-color: rgb(75,116,246);
    --track-width: 1px;
    --track-color: var(--color-bluegrey-600);
    --thumb-width: 15px;
    --thumb-height: 15px;
    --thumb-color: var(--chrome-system-thumb-color);
    -webkit-appearance: none;
    width: 100%;
    height: var(--track-width);
    margin: 0;
    /*background-image: linear-gradient(#ff4500, #ff4500);*/
    transition: all .25s;
}

.tb-slider[orient=vertical] {
    -webkit-appearance: slider-vertical;
    width: var(--track-width);
    height: 100%;
}

.tb-slider:focus {
    outline: 0;
}

.tb-slider:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px white;
}

.tb-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: var(--track-width);
    background: var(--track-color);
    border: none;
}

.tb-slider::-moz-range-track {
    -webkit-appearance: none;
    height: var(--track-width);
    background: var(--track-color);
    border: none;
}

.tb-slider::-ms-track {
    -webkit-appearance: none;
    height: var(--track-width);
    background: var(--track-color);
    border: none;
}

.tb-slider[orient=vertical]::-webkit-slider-runnable-track {
    width: var(--track-width);
}

.tb-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    bottom: 7px;
    width: var(--thumb-width);
    height: var(--thumb-height);
    background-color: var(--thumb-color);
    border: none;
    border-radius: 50%;
    cursor: grab;
}

.tb-slider::-moz-range-thumb {
    -webkit-appearance: none;
    position: relative;
    bottom: 7px;
    width: var(--thumb-width);
    height: var(--thumb-height);
    background-color: var(--thumb-color);
    border: none;
    border-radius: 50%;
    cursor: grab;
}

.tb-slider::-ms-thumb {
    -webkit-appearance: none;
    position: relative;
    bottom: 7px;
    width: var(--thumb-width);
    height: var(--thumb-height);
    background-color: var(--thumb-color);
    border: none;
    border-radius: 50%;
    cursor: grab;
}

.tb-slider[orient=vertical]::-webkit-slider-thumb {
    left: 7px;
    bottom: 0;
    background-color: var(--thumb-color);
}

.tb-slider[orient=vertical]::-moz-range-thumb {
    left: 7px;
    bottom: 0;
    background-color: var(--thumb-color);
}

.tb-slider[orient=vertical]::-ms-thumb {
    left: 7px;
    bottom: 0;
    background-color: var(--thumb-color);
}

.tb-slider::-webkit-slider-thumb:active {
    cursor: grabbing;
}