.exp.step-sequencer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
}

.exp.step-sequencer > .row {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.exp.step-sequencer > .row:not(:last-child) {
    //margin-bottom: 24px;
}

.exp.step-sequencer > .row > .step-sequencer__step:not(:last-child) {
    //margin-right: 16px;
}

.exp.step-sequencer > .row > .step-sequencer__step {
    width: 28px;
    height: 28px;
    border: 1px solid var(--color-bluegrey-600);
    border-radius: 100%;
    cursor: pointer;
    transform: scale(1);
    transition: all .25s;
}

.exp.step-sequencer > .row > .step-sequencer__step.on {
    background-color: white;
    border-color: white;
    //transform: scale(0.75);
}

.exp.step-sequencer > .row > .step-sequencer__step.current {
    border-color: blue;
    transform: scale(1.25);
}

.exp.step-sequencer > .row > .step-sequencer__step.on.current.playing {
    border-color: red;
}