.exp.step-sequencer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-12);
}

.exp.step-sequencer > .row {
    flex: 1;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.exp.step-sequencer > .row > .step-sequencer__step {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: var(--color-bluegrey-800);
    border: 1px solid var(--color-bluegrey-900);
    border-radius: 100%;
    cursor: pointer;
    transform: scale(1);
    transition: all .25s;
}

.exp.step-sequencer > .row > .step-sequencer__step:hover {
    background-color: var(--color-bluegrey-900);
    /*opacity: .6;*/
}

.exp.step-sequencer > .row > .step-sequencer__step > span {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--color-bluegrey-200);
    transform: translate(-50%, -50%);
}

.exp.step-sequencer > .row > .step-sequencer__step > span:first-child {
    width: 1px;
    height: 8px;
}

.exp.step-sequencer > .row > .step-sequencer__step > span:last-child {
    width: 8px;
    height: 1px;
}

.exp.step-sequencer > .row > .step-sequencer__step.on {
    /*background-color: white;*/
    border-color: var(--color-bluegrey-600);
}

.exp.step-sequencer > .row > .step-sequencer__step.current {
    border-width: 3px;
    transform: scale(1.22);
}

.exp.step-sequencer > .row > .step-sequencer__step.on.current.playing {
    border-width: 3px;
    border-color: var(--color-secondary);
}

.step-sequencer__effect.limit {
    background-color: red;
}