.effect-control__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 1px solid var(--color-bluegrey-900);
    border-radius: 100%;
    cursor: pointer;
    transition: all .25s;
}

.effect-control__button.inc {
    grid-area: inc;
}

.effect-control__button.dec {
    grid-area: dec;
}

.effect-control__button.limit {
    background-color: var(--color-secondary);
}