.me__main.index {
    display: grid;
    grid-template-rows: auto 48px;
    align-items: center;
    height: 100%;
}

.me__main.index svg {
    display: block;
    height: 50vh;
    max-width: 80vw;
    margin: 0 auto;
}

.me__main .social-links {
    display: flex;
    justify-content: center;
}

.me__main .social-links > :not(:last-child) {
    margin-right: var(--spacing-12);
}