.ui-button span {
  width: 25px;
  height: 1px;
  background-color: white;
}

.ui-button.close span {
  transform: rotate(45deg);
}

.ui-button.close span:last-child {
  margin-top: -1px;
  transform: rotate(135deg);
}
