// Base
html {
	@extend %px-root;
	text-size-adjust: 100%;
	box-sizing: border-box;
}

body {
	font-family: $base__font;
	font-weight: f-weight(thin);
	line-height: $base__line-height;
	color: $black;
	background: palette(brand);
	@include animation(header 12s linear 0 infinite);
}

main {
	padding: 0 0 p(lg);
}
