  // Named breakpoints
$mobile-landscape: 576px;
$tablet-portrait: 768px;
$tablet-landscape: 992px;
$desktop: 1200px;

// Breakpoints
$bp-sm: #{$mobile-landscape};
$bp-md: #{$tablet-portrait};
$bp-lg: #{$tablet-landscape};
$bp-xl: #{$desktop};

// Breakpoints map
$breakpoints: (
    sm: $bp-sm,
    md: $bp-md,
    lg: $bp-lg,
    xl: $bp-xl
);

// Asset paths
$path-lbox: 'img';

// Root font size
%px-root {
    font-size: 62.5%;
}

// Base font size and line height
$base-font-size: 1rem;
$base-line-height: 1;

// Local font size
%px-base {
    font-size: $base-font-size;
}

// Webfonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100');

// Font stacks
$stack-mono: 'Roboto Mono', Courier, monospace, sans-serif;

// Font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

// Margin
$base-margin: 1em;

$margin: (
    xxs: $base-margin / 5,
    xs: $base-margin / 2,
    sm: $base-margin,
    md: $base-margin * 1.5,
    lg: $base-margin * 2,
    xl: $base-margin * 3,
    xxl: $base-margin * 4
);

// Padding
$base-padding: 1em;

$padding: (
    xxs: $base-padding / 5,
    xs: $base-padding / 2,
    sm: $base-padding,
    md: $base-padding * 1.5,
    lg: $base-padding * 2,
    xl: $base-padding * 3,
    xxl: $base-padding * 4
);

// Transitions
$speed: 0.2s;
