// Clearfix
%clearfix {
    content: "";
    display: table;
    clear: both;
}

// Reset margin to zero
%margin-reset {
    margin: 0;
}

// Remove left right padding
.no-padding {
    padding-right: 0;
    padding-left: 0;
}

%highlight {
    display: inline;
    box-decoration-break: clone;
    padding: p(xxs) 0;
    background: $white;
}

%stripe {
    background: repeating-linear-gradient(
        -45deg,
        $white,
        $white 1px,
        $primary 1px,
        $primary 20px /* Space between stripes
        );
}
