// Clearfix
%clearfix {
    content: "";
    display: table;
    clear: both;
}

// Reset margin to zero
%margin-reset {
    margin: 0;
}

// Remove left right padding
.no-padding {
    padding-right: 0;
    padding-left: 0;
}

%highlight {
    box-decoration-break: clone;
    padding: p(xl) 0;
    background: $yellow;
}
