.ui-control {
    display: grid;
    font-size: 14px;
}

.ui-control.vertical {
    grid-template-areas:
            "value"
			"controls"
            "label";
    row-gap: var(--spacing-12);
    justify-items: center;
}

.ui-control.horizontal {
    grid-template-areas:
			"label controls value";
    column-gap: var(--spacing-8);
    align-items: center;
}

.ui-control .ui-control__controls {
    grid-area: controls;
    display: flex;
    justify-content: space-around;
}

.ui-control.vertical .ui-control__controls {
    flex-direction: column;
    height: 100px;
}

.ui-control.horizontal .ui-control__controls {
    flex-direction: row;
    width: 100px;
}

.ui-control .ui-control__label {
    grid-area: label;
    width: 5ch;
    text-align: center;
}

.ui-control .ui-control__value {
    grid-area: value;
    width: 5ch;
    text-align: center;
}

.ui-control .ui-control__value::before {
    content: attr(data-value);
}