.me__header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.me__header svg {
  height: 100%;
  cursor: pointer;
}

.me__header svg path {
  fill: black;
}
