:root {
  --step-size: 56px;
}

.module-head {
  border-bottom: 1px dotted grey;
}

.module-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-sequencer {
  flex: 1;
  display: flex;
  flex-direction: column;
  .tracks {
    border-radius: 4px;
    overflow: hidden;
  }
  .track {
    display: flex;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--step-size);
      height: var(--step-size);
      border-width: 0;
      outline: none;
    }
  }
  .sample {
    display: flex;
    margin-right: 5px;
    > button {
      background-color: var(--color-secondary);
    }
  }
  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    .progress-indicator {
      position: absolute;
      top: 0;
      left: 0;
      width: var(--step-size);
      height: 100%;
      background-color: rgb(255, 189, 0);
    }
    > button.step {
      z-index: 1;
      background-color: white;
      border-right: 1px solid black;
      opacity: 0.92;
      &:last-child {
        border-right-width: 0;
      }
      &.on {
        background-color: var(--color-primary);
      }
      &.double {
        background-color: var(--color-secondary);
      }
    }
  }
  .channel {
    display: flex;
    margin-left: 5px;
    > button {
      background-color: var(--color-mid-grey);
      &.muted {
        background-color: var(--color-tertiary);
      }
    }
  }
}

