.step-sequencer {
  display: flex;
  flex-direction: column;
  height: 100%;
  .master {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .effects {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
