#studio {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 0;
    width: 100%;
    padding: 0;
}

#studio .tracks .sequencer {
    padding: 0 var(--spacing-12);
    background-color: rgba(255,255,255,0.008);
}

#studio .tracks .sequencer .step {
    /*padding: 0 var(--spacing-12);*/
    /*background-color: rgba(255,255,255,0.008);*/
}
