.controller {
    display: grid;
    font-size: 12px;
    text-align: center;
}

.controller.vertical {
    grid-template-rows: auto 100px auto;
    grid-template-columns: auto;
    row-gap: var(--spacing-12);
    justify-items: center;
}

.controller.horizontal {
    grid-template-rows: auto;
    grid-template-columns: auto 100px auto;
    column-gap: var(--spacing-8);
    align-items: center;
}

/*.controller.horizontal.type-button {*/
/*    grid-template-columns: auto 66px auto;*/
/*}*/

.controller > .controls {
    display: flex;
    justify-content: space-between;
}

.controller.vertical > .controls {
    flex-direction: column;
}

.controller.horizontal > .controls {
    flex-direction: row;
}

.controller > .label {
    width: 5ch;
    user-select: none;
}

.controller > .value {
    width: 5ch;
    user-select: none;
}

.controller > .value::before {
    content: attr(value);
}