// Mixins

// Media queries
@mixin breakpoint($breakpoint) {
	$value: map-get($breakpoints, $breakpoint);
	@media screen and (min-width: $value) {
		@content;
	}
}

// Generate responsive font sizes
@mixin font-size($fs-map) {
	@each $fs-breakpoint, $fs-font-size in $fs-map {
		@if $fs-breakpoint == null {
			font-size: $fs-font-size;
		}
		@else {
			@media screen and (min-width: $fs-breakpoint) {
				font-size: $fs-font-size;
			}
		}
	}
}

// Generate background color modifier classes
@mixin mod-bgcolor($map) {
	@each $name, $value in $map {
		&--#{$name} {
			background-color: $value;
		}
	}
}

// Shorthand transition with vendor prefixes
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	transition: $args;
}

// Shorthand animation with vendor prefixes
@mixin animation($args...) {
	-webkit-animation: $args;
	-moz-animation: $args;
	-o-animation: $args;
	animation: $args;
}

@mixin v-center {
	top: 50%;
	transform: translateY(-50%);
}
