.track {
    display: grid;
    grid-template-rows: 60px auto min-content;
    width: 100%;
    border-bottom-right-radius: var(--spacing-16);
    border-bottom-left-radius: var(--spacing-16);
    overflow: hidden;
}