.controls-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controls-group.vertical {
    flex-direction: column;
}

.controls-group.horizontal > *:not(:last-child) {
    margin-right: var(--spacing-12);
}

.controls-group.vertical > *:not(:last-child) {
    margin-bottom: var(--spacing-12);
}