#master {
    display: grid;
    grid-template-rows: 40px auto;
    z-index: 99;
    position: sticky;
    top: 0;
    height: var(--header-height);
    border-top: 8px solid var(--color-grey-900);
}

#master > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-20);
}

#master .main {
    background-color: var(--color-secondary);
}

#master .sub {
    background-color: var(--color-grey-800);
}

#master #playback-controls {
    height: 100%;
    justify-content: center;
}

#master #playback-controls button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    aspect-ratio: 1 / 1
}

#master #playback-controls button svg {
    width: 100%;
}

#master #playback-controls .playback svg > * {
    fill: white;
}

#master #playback-controls .play[value = 'on'] svg > * {
    fill: blue;
}

#master #playback-controls .record[value = 'on'] svg > * {
    fill: red;
}