#studio.beats {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 var(--spacing-40);
    margin: 0 auto;
}

.samples {
    /*--color-step: #5ab400;*/
    --color-step: yellow;
    --color-step-hover: var(--color-secondary);
    --color-step-hit: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.samples .step {
    background: var(--color-step);
    outline: none;
    transition: background .3s ease-out;
}

.samples .step:hover {
    background: var(--color-step-hover);
}

.samples .step.hit {
    background: var(--color-step-hit);
    transition: background .1s ease-in;
}

.samples .step .step-icon {
    pointer-events: none;
}
