.ButtonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonGroup.vertical {
    flex-direction: column;
}

.ButtonGroup.horizontal > *:not(:last-child) {
    margin-right: var(--spacing-12);
}

.ButtonGroup.vertical > *:not(:last-child) {
    margin-bottom: var(--spacing-12);
}