:root {
	--step-size: 48px;
	--slider-track-height: 2px;
	--slider-thumb-diameter: 16px;
}

.me {
	display: grid;
	grid-template-rows: auto 80px;
	grid-template-areas:
			"main"
			"footer";
	height: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.me__content {
	grid-area: main;
	padding: var(--spacing-md) 0;
}