// Header
.header {
    @extend %px-base;
    padding: p(xxl) 0 p(xl);

	.icon-twitter {
        margin: 0 auto;
		font-size: 2em;
		color: $black;
		&:hover {
			color: $white;
		}
	}

    &__logo {
        padding-bottom: p(xl);

        .logo-svg {
            display: block;
            margin: 0 auto;
            width: 50px;
            @include breakpoint(sm) {
                width: 100px;
            }
            @include breakpoint(md) {
                width: 120px;
            }
        }
    }
}
