.ui-button.ui-control__button {
    color: var(--color-bluegrey-400);
}

.ui-button.ui-control__button:hover {
    color: white;
    border-color: white;
}

.ui-button.ui-control__button.limit {
    background-color: var(--color-secondary);
}