.oscillator__pad {
    flex: 1;
    padding: 5px;
    background-color: blue;
    opacity: 1;
    transition: all 0.25s ease 0s;
}

.oscillator__pad:hover {
     opacity: 0.9;
}

.oscillator__values {
    font-size: 14px;
    user-select: none;
    margin-bottom: 5px;
}

.oscillator__values span {
    margin-left: 5px;
}