@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i");
html {
  font-size: 62.5%; }

header, footer {
  font-size: 1rem; }

.no-padding {
  padding-right: 0;
  padding-left: 0; }

html {
  text-size-adjust: 100%;
  box-sizing: border-box; }

body {
  font-family: "Roboto Mono", Courier, monospace;
  font-weight: 100;
  line-height: 1;
  color: #000;
  background: #00ffff;
  -webkit-animation: background 12s linear 0 infinite;
  -moz-transition: background 12s linear 0 infinite;
  -o-transition: background 12s linear 0 infinite;
  animation: background 12s linear 0 infinite; }

main {
  padding: 0 0 2em; }

h1,
h3,
p {
  font-family: "Roboto Mono", Courier, monospace;
  font-weight: 100; }

h2 {
  font-family: "Roboto Mono", Courier, monospace;
  font-weight: 100; }

h1 {
  font-size: 3rem;
  line-height: 1.3;
  margin-bottom: 0.5em;
  text-align: center; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 2rem;
  line-height: 1.3;
  text-align: center; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 3rem; } }

p {
  font-size: 1.6rem;
  line-height: 1.5; }

.logo {
  padding: 3em 0;
  margin: 0 auto; }
  .logo svg {
    display: inline-block; }
    .logo svg path {
      fill: #000;
      -webkit-transition: fill, 0.3s, ease;
      -moz-transition: fill, 0.3s, ease;
      -o-transition: fill, 0.3s, ease;
      transition: fill, 0.3s, ease; }
      .logo svg path:hover {
        fill: #fff; }
  header .logo {
    width: 120px; }
    @media screen and (min-width: 768px) {
      header .logo {
        width: 150px; } }
  footer .logo {
    width: 50px; }
    @media screen and (min-width: 768px) {
      footer .logo {
        width: 80px; } }

.social {
  margin-bottom: 0.5em;
  font-size: 2em;
  text-align: center; }
  .social__twitter a {
    color: #ffff00; }
    .social__twitter a:hover {
      color: #fff; }

.player {
  position: relative;
  background: #333;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 10px -5px black;
  width: 280px;
  height: 320px;
  padding-top: 4em;
  margin: 0 auto; }
  .player .controls {
    position: absolute;
    bottom: 15%;
    margin: auto;
    left: 0;
    right: 0; }
    .player .controls .button {
      height: 75px;
      width: 75px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 75px;
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.125);
      margin: auto;
      pointer-events: all; }
      .player .controls .button:active {
        transform: scale(0.98);
        background: #fff; }
        .player .controls .button:active .fa {
          color: #ff0000;
          opacity: 1; }
      .player .controls .button .fa {
        color: #fff;
        opacity: .5;
        font-size: 24px; }
        .player .controls .button .fa.fa-play {
          margin-left: 5px; }

@-webkit-keyframes background {
  0%, 100% {
    background-color: #00ffff; }
  50% {
    background-color: #00ff80; } }

@-moz-keyframes background {
  0%, 100% {
    background-color: #00ffff; }
  50% {
    background-color: #00ff80; } }

@-o-keyframes background {
  0%, 100% {
    background-color: #00ffff; }
  50% {
    background-color: #00ff80; } }

@keyframes background {
  0%, 100% {
    background-color: #00ffff; }
  50% {
    background-color: #00ff80; } }

header {
  padding: 3em 0 3em; }

footer {
  margin: 3em 0; }
