@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i");
html {
  font-size: 62.5%; }

.header__nav, .media, .header, footer {
  font-size: 1rem; }

.no-padding {
  padding-right: 0;
  padding-left: 0; }

html {
  text-size-adjust: 100%;
  box-sizing: border-box; }

body {
  font-family: "Roboto Mono", Courier, monospace;
  font-weight: 100;
  line-height: 1;
  color: #000;
  background: #00ffff;
  -webkit-animation: header 12s linear 0 infinite;
  -moz-transition: header 12s linear 0 infinite;
  -o-transition: header 12s linear 0 infinite;
  animation: header 12s linear 0 infinite; }

main {
  padding: 0 0 2em; }

h1 {
  font-size: 2rem;
  line-height: 1.3;
  text-align: center; }
  @media screen and (min-width: 576px) {
    h1 {
      font-size: 3rem; } }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-family: "Roboto Mono", Courier, monospace;
  font-weight: 100;
  font-size: 4rem;
  line-height: 1.3; }
  @media screen and (min-width: 576px) {
    h2 {
      font-size: 5rem; } }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 7rem; } }
  @media screen and (min-width: 992px) {
    h2 {
      font-size: 8rem; } }
  @media screen and (min-width: 1200px) {
    h2 {
      font-size: 9rem; } }

p {
  font-size: 1.6rem;
  line-height: 1.5; }

/*
 * Navigation
 */
.header__nav {
  text-align: center; }

/*
 * Main nav bar styles
 */
.nav-bar {
  display: inline-block;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .nav-bar li {
    display: none; }
    @media screen and (min-width: 768px) {
      .nav-bar li {
        display: inline; } }
    .nav-bar li.nav-bar__icon {
      display: inline;
      cursor: pointer; }
      @media screen and (min-width: 768px) {
        .nav-bar li.nav-bar__icon {
          display: none; } }
    .nav-bar li a {
      font-size: 1.6rem;
      line-height: 1.8;
      color: #000;
      text-align: center;
      text-decoration: none;
      padding: 0.5em 1em;
      -webkit-transition: color, 0.2s, ease;
      -moz-transition: color, 0.2s, ease;
      -o-transition: color, 0.2s, ease;
      transition: color, 0.2s, ease; }
      @media screen and (min-width: 768px) {
        .nav-bar li a {
          font-size: 2.2rem; } }
      .nav-bar li a:hover {
        text-decoration: none;
        color: #00ffff; }
  .nav-bar--xs li {
    display: block; }
    @media screen and (min-width: 768px) {
      .nav-bar--xs li {
        display: inline; } }

.logo {
  padding: 2em 0; }
  .logo .logo__image {
    display: block;
    margin: 0 auto; }
    .logo .logo__image path {
      fill: #80ffff;
      -webkit-transition: fill, 0.2s, ease;
      -moz-transition: fill, 0.2s, ease;
      -o-transition: fill, 0.2s, ease;
      transition: fill, 0.2s, ease; }
      .logo .logo__image path:hover {
        fill: #00adad; }
    header > .logo .logo__image {
      width: 120px; }
      @media screen and (min-width: 768px) {
        header > .logo .logo__image {
          width: 150px; } }
    footer > .logo .logo__image {
      width: 50px; }
      @media screen and (min-width: 768px) {
        footer > .logo .logo__image {
          width: 80px; } }

.social {
  text-align: center;
  font-size: 2em; }
  .social a {
    color: #000; }
    .social a:hover {
      color: #fff; }

.media {
  margin: 0; }
  .media__content {
    display: block;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity, 0.2s, ease;
    -moz-transition: opacity, 0.2s, ease;
    -o-transition: opacity, 0.2s, ease;
    transition: opacity, 0.2s, ease; }
    .media__content:hover {
      opacity: 0.9; }
  .media__meta {
    font-size: 1.6rem;
    line-height: 2;
    margin-bottom: 1em;
    border-bottom: 1px solid #737373; }

@-webkit-keyframes header {
  0% {
    background-color: #00ffff; }
  50% {
    background-color: #ffff00; }
  100% {
    background-color: #00ffff; } }

@keyframes header {
  0% {
    background-color: #00ffff; }
  50% {
    background-color: #ffff00; }
  100% {
    background-color: #00ffff; } }

.header {
  padding: 4em 0 3em; }

footer {
  margin: 3em 0; }

.band {
  padding: 4em 0; }
