#record-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--color-bluegrey-600);
    border-radius: 50%;
    transition: all .25s;
}

#record-button:after {
    content: "";
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    background-color: var(--color-bluegrey-600);
    border-radius: 50%;
    transition: all .25s;
}

#record-button:hover {
    border-color: white;
}

#record-button:hover:after {
    border-left-color: white;
}

#record-button[data-recorder-status = 'stand-by'] {
    background-color: blue;
}

#record-button[data-recorder-status = 'on'] {
    background-color: red;
}

#record-button.disabled {
    pointer-events: none;
}

#record-button:focus {
    outline: none;
}