//https://codepen.io/egrucza/pen/LEoOQZ

.range {
	-webkit-appearance: none;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	background: var(--color-primary);
	height: 2px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	max-width: 80px;
	position: relative;
	bottom: 9px;
	background-color: #1d1c25;
	border: 2px solid var(--color-primary);
	cursor: grab;
}

input[type=range]::-webkit-slider-thumb:active {
	cursor: grabbing;
}
