.ui-button.record-button:after {
    content: "";
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    background-color: var(--color-bluegrey-600);
    border-radius: 50%;
    transition: all .25s;
}

.ui-button.record-button:hover {
    border-color: white;
}

.ui-button.record-button:hover:after {
    border-left-color: white;
}

.ui-button.record-button[data-recorder-status = 'stand-by'] {
    background-color: blue;
}

.ui-button.record-button[data-recorder-status = 'on'] {
    background-color: red;
}