.button.record-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.button.record-button:after {
    content: "";
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    background-color: var(--color-bluegrey-600);
    border-radius: 50%;
    transition: all .25s;
}

.button.record-button:hover {
    border-color: white;
}

.button.record-button:hover:after {
    border-left-color: white;
}

.button.record-button[data-recorder-status = 'stand-by'] {
    background-color: blue;
}

.button.record-button[data-recorder-status = 'on'] {
    background-color: red;
}