.master {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  position: sticky;
  top: var(--spacing-8);
  height: 88px;
  padding: 0 var(--spacing-md);
  background-color: var(--color-secondary);
}

.master .playback-controls {
  display: flex;
  align-items: center;
}

.master .playback-controls *:not(:last-child) {
  margin-right: var(--spacing-12);
}

