// Glitch Effect

.glitch {
	position: relative;
	// font-size: 200px;
	// font-weight: 800;
	// color: $grey;
	// text-align: center;
	// text-transform: uppercase;
}

.glitch:before,
.glitch:after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	background-color: palette(brand);
}

.glitch:before {
	left: 4px;
	text-shadow: -2px 0 $red;
	animation: glitch-anim-1 1.2s linear .2s infinite alternate-reverse;
}

.glitch:after {
	left: -4px;
	text-shadow: -2px 0 $blue;
	animation: glitch-anim-2 1.2s linear .4s infinite alternate-reverse;
}

@keyframes glitch-anim-1 {
	$steps: 10;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip-path: inset(random(100)+% random(100)+%);
		}
	}
}

@keyframes glitch-anim-2 {
	$steps: 10;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip-path: inset(random(100)+% random(100)+%);
		}
	}
}
