// Player
.player {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 5px 10px -5px rgba($black, 1);
	width: 280px;
	height: 320px;
	margin: 0 auto;

	.tracklist {
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		width: 100%;
		height: 200px;
		padding: p(sm);
		background: url(../img/img_4013.jpg);
		background-position: center;
		background-size: cover;

		.track {
			padding: p(sm) p(lg);

			.meta {
				padding: p(sm) 0;

				.name {
					font-size: 16px;
					font-weight: f-weight(light);
					text-align: center;
					color: $black;
				}
			}

			.select {
				height: 50px;
				width: 50px;
				border-radius: 50px;
				box-shadow: 0 5px 10px 0px rgba($black, .2);
				outline: none;
				background-color: $lime-green;
				opacity: .6;
				@include transition(opacity, $speed, ease);

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	.controller {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: p(sm);
		width: 100%;
		height: 120px;
		background-color: #2f4f4f;

		.controls {

			.button {
				height: 75px;
				width: 75px;
				border: 2px solid $white;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 75px;
				box-shadow: 0 5px 10px 0px rgba($black, .125);
				pointer-events: all;

				.fa {
					color: $white;
					font-size: 24px;

					&.fa-play {
						margin-left: 5px;
					}
				}
			}
		}
	}
}
