//https://tobiasahlin.com/blog/layered-smooth-box-shadows/
//https://sassme.jim-nielsen.com/

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i");

:root {
	--font-primary: "Roboto Mono", sans-serif;
}

:root {
	--color-primary: #f913ad;
	--color-secondary: #f95f13;
	--color-tertiary: #f81976;
	--color-light-grey: #22202b;
	--color-mid-grey: #333333;
	--color-dark-grey: #1b1a22;
}

:root {
	--spacing-sm: .94rem;
	--spacing-md: 1.88rem;
	--spacing-lg: 2.82rem;
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	min-height: 100vh;
}

html {
	background: var(--color-dark-grey);
}

body {
	margin: 0;
	color: #fff;
	font-family: var(--font-primary);
	font-weight: 100;
	line-height: 1;
}

a {
	outline: none;
	cursor: pointer;
	color: var(--color-mid-grey);
	text-decoration: none;
	letter-spacing: 0.1em;
	&:hover {
		text-decoration: none;
	}
}