.me__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm);
}

.me__footer svg {
    height: 100%;
    cursor: pointer;
}

.me__footer svg path {
    fill: var(--color-grey-800);
}
