.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm);
}

.footer svg {
    height: 100%;
    cursor: pointer;
}

.footer svg path {
    fill: var(--color-primary);
}
