.button.mute-button {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.button.mute-button:hover {
    border-color: white;
}

.button.mute-button.active {
    border-color: var(--color-tertiary);
    background-color: var(--color-tertiary);
}