.ui-button.mute-button {
    align-self: center;
    color: white;
}

.ui-button.mute-button:hover {
    border-color: white;
}

.ui-button.mute-button.active {
    border-color: var(--color-tertiary);
    background-color: var(--color-tertiary);
}